<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.free.csdn"
    android:versionCode="108"
    android:versionName="1.0.8" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name="com.free.csdn.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <activity
            android:name="com.free.csdn.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.free.csdn.temp.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.free.csdn.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme" >
        </activity>
        <activity
            android:name="com.free.csdn.activity.BlogListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.free.csdn.temp.BlogDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.free.csdn.activity.BlogContentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.free.csdn.activity.BlogCommentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.free.csdn.temp.ImageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.free.csdn.activity.AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.free.csdn.activity.ContactUsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.free.csdn.activity.UpdateLogActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.free.csdn.activity.SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.free.csdn.activity.BlogCollectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.free.csdn.activity.ChannelDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.free.csdn.activity.HotListActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- umeng auto upgrade start -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.free.csdn.lib.umeng.CustomActivity"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55c0e89be0f55a4ee1006bc1" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <!-- umeng auto upgrade end -->
    </application>

</manifest>