<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.free.blog"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".BlogApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBlogTheme"
        tools:replace="android:icon">

        <!-- 适配全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4"/>

        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.HomeDrawerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarTheme"/>
        <activity
            android:name=".ui.list.BlogListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.content.BlogContentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.content.comment.CommentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.base.activity.WebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.home.find.rank.RankActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.home.find.expert.DailyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.home.find.pk.PkActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.home.find.last.NewBlogActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.home.find.hot.HotBlogActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.home.mine.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.home.mine.ContactUsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.home.mine.UpdateLogActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.home.mine.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.home.mine.BlogCollectActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.home.mine.BlogHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.home.column.detail.ColumnDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.home.mine.FeedbackActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:theme="@android:style/Theme.Translucent"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55c0e89be0f55a4ee1006bc1"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource"/>
        </provider>
    </application>

</manifest>
